* {
	margin : 0; 
	list-style: none;
	text-decoration: none;
    font-family: 'poppins';
    color: aliceblue;
   

} 
body{
    background-color: #1c1b1f;  
    margin-top: 2px;
}

/* navbar */
nav {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
/* menu */
nav .navbar{
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: inline-flex;
    gap: 1.5rem;
}

nav .navbar a:hover{
    color: rgb(208 188 255);
}
.btn_gbg a{
    margin-left: 1rem;
    padding: 0.75rem 1rem ;
    border-radius: 40px;
    color: rgb(56 30 114);
    background-color:  rgb(208 188 255);
}

.btn_gbg a:hover{
    color: white;
    transition: 0.25s;
    background-color: rgb(63, 22, 101);
}
/* hamburger menu */
.navbar_menu{
    margin: 0;
    display: none;
}

/* isi utama */
section {
    padding: 3rem;
}

.home {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
}

.welcum{
    width: 45%;
}

.welcum h1 {
    margin: 50px auto;
    font-family: sans-serif;
    font-size: 4rem;
    color: aliceblue;
    line-height: 1;

}
.welcum p {
    display: block ;
    margin: 30px auto;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: aliceblue;
    line-height: 1.5; 
}

.btn_mi{
    font-family: sans-serif;
    font-size: 1.3rem;
    display: inline-flex;
    padding: 1rem 2rem ;
    border-radius: 40px;
    color: rgb(56 30 114);
    background-color:  rgb(208 188 255);
}
.btn_mi:hover{
    color: white;
    transition: 0.5s;
    background-color: rgb(63, 22, 101);
}

/* isi */

.isi h1{
    margin: 10rem auto 7rem auto;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 3rem;
}
.box_card{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 1rem;
}
.card{
    margin: 10px auto;
    display: block;
    padding: 9.5rem 1rem 9.5rem 1rem;
    width: 29%;
    height: auto;
    background-color: rgb(59 56 68);
    line-height: 2;
    border-radius: 12px;
}
.content img{
    align-items: center;
    display: block;
    margin: auto;
}
.content h2{
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(217, 203, 243);
}
.content p {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.card:hover{
    box-shadow: inset;
    box-shadow: 0px 5px 10px 0px rgba(39, 42, 247, 0.5)
}

/* tentang muriadev */
.about_us {
    margin-top: 10rem;
    justify-content: center;
}
.about_us h1{
    margin-top: 60px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 3rem;
}
.about_us p {
    margin: 0 10%;
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
}

/* acara muriadev */

.acara h1{
    display: block;
    margin-top: 10rem;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 3rem;
}

/* kontak kami */

.contact_us {
    margin: 12rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2563eb;
    padding: 6rem 3rem;
    border-radius: 12px;
}

.message {
    width: 60%;
}

.message h1 {
    display: block;
    font-family: sans-serif;
    font-size: 3rem;
    color: aliceblue;
    line-height: 1.5;

}
.message p {
    display: block ;
    font-family: sans-serif;
    font-size: 1rem;
    color: aliceblue;
    line-height: 1.5; 
}

.btn_psn a{
    margin-top: 50px;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 0.75rem 2rem ;
    border-radius: 30px;
    color: rgb(56 30 114);
    background-color:  rgb(208 188 255);
}
.btn_psn a:hover{
    color: white;
    transition: 0.5s;
    background-color: rgb(63, 22, 101);
}

/* footer */

footer {
    margin: 0;
    padding: 2rem;
    background-color: rgb(59 56 68);
    text-align: center;
    justify-content: center;
    line-height: 2.5;
}

footer h1{
    text-align: center;
    color: aliceblue;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    background-color: transparent;
    line-height: 1;
}
.alamat {
    text-align: center;
    color: aliceblue;
    display: block;
    font-family: sans-serif; 
    background-color: transparent;
}

.build {
    text-align: center;
    color: aliceblue;
    display: block;
    font-family: sans-serif;
    background-color: transparent;
}
.copy {
    text-align: center;
    color: black;
    display: block;
    font-family: sans-serif;
    background-color: transparent;
}

/* media query */
@media screen and (min-width: 1440px){
    *{
        margin: 0 auto;
        max-width: 1440px;
    }
}
@media screen and (max-width: 884px){
    nav {
        padding: 30px 25px;
    }
    section {
        padding: 25px;
    }
    .navbar_menu{
        display: inline-block;
    }
    nav .navbar{
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        top: -100%;
        background-color: rgb(59 56 68);
        right: 0;
        left: 0;
        height: 50vh;
        text-align: center;
        line-height: 3;
    }
    nav .navbar.active{
        top: 80px;
    }
    .welcum{
        width: 40%;
    }
    .welcum h1 {
        font-size: 3rem;
    }
    .welcum p {
        font-size: 1rem;
    }
    .btn_mi{
        font-size: 1rem;
        padding: 0.75rem 1.75rem ;
    }
    .home img{
        height: 350px;
        width: auto;
    }
    .card{
        padding: 7rem 1rem 7rem 1rem;
    }
    .content h2{
        text-align: left;
    }
    .message {
        width: 100%;
    }
    .message h1 {
        font-size: 2.75rem;
    }
    .message p {
        font-size: 1rem;
    }

    .btn_psn a{
        margin-top: 20px;
        justify-content: center;
    }
}
@media screen and (max-width: 576px){
    nav {
        padding: 30px 10px;
    }
    section {
        padding: 10px;
    }
    .navbar_menu{
        display: flex;
    }
    nav .navbar{
        display: none;
    }
    .navbar_menu{
        display: inline-block;
    }
    nav .navbar{
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        top: -100%;
        background-color: rgb(59 56 68);
        right: 0;
        left: 0;
        height: 50vh;
        text-align: center;
        line-height: 3;
    }
    nav .navbar.active{
        top: 80px;
    }
    .home {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .welcum{
        width: 100%;
    }
    .welcum h1 {
        font-size: 2rem;
        line-height: 1;
    }
    .welcum p {
        line-height: 1.5; 
    }
    .home img{
        height: 325px;
        width: auto;
    }
    .box_card{
        flex-wrap: wrap;
    }
    .card{
        width: 80%;
    }
    .about_us p {
        margin: 0;
        margin-top: 10px;
        text-align: left;
        font-size: 1.5rem;
    }
    .message {
        width: 100%;
    }
    .contact_us {
        margin: 12rem auto;
        padding: 6rem 2rem;
    }
    footer {
        margin: 0;
        padding: 1rem auto;
    }
}
